{% extends "moku/base.jinja" %}

{% block content %}
    <div class="grid-content">
        <aside class="profile">
            <h2>@{{ user.username }}</h2>
            <dl>
                <div>
                    <dt>{% trans %}pronouns{% endtrans %}</dt>
                    <dd>{{ user.pronouns or "not set" }}</dd>
                </div>
                <div>
                    <dt>{% trans %}location{% endtrans %}</dt>
                    <dd>{{ user.location or "not set" }}</dd>
                </div>
                <div class="double">
                    <dt>{% trans %}about me{% endtrans %}</dt>
                    <dd>{{ user.bio or "not set" }}</dd>
                </div>
            </dl>
            {% if user.id == request.user.id %}
                <p class="mt"><a href="{{ url('profile.edit') }}">{% trans %}edit{% endtrans %}</a></p>
            {% endif %}
        </aside>
        <main>
            {% if not posts %}
                <p>{% trans %}no posts yet... 🥱{% endtrans %}</p>
            {% endif %}
            {% for post in posts %}
                {% include "moku/snippets/post.jinja" %}
            {% endfor %}
        </main>
    </div>
{% endblock content %}