{% extends "moku/base.jinja" %}

{% block content %}
    <div class="grid-content">
        <aside class="profile">
            <dl>
                {% if profile.avatar %}
                    <div class="double">
                        <img src="{{ profile.avatar.url }}" alt="@{{ profile.username }}'s avatar" class="avatar">
                    </div>
                {% endif %}
                <h2 class="double">@{{ profile.username }}</h2>
                {% if profile.pronouns %}
                    <div>
                        <dt>{% trans %}pronouns{% endtrans %}</dt>
                        <dd class="user-content">{{ profile.pronouns }}</dd>
                    </div>
                {% endif %}
                {% if profile.location %}
                    <div>
                        <dt>{% trans %}location{% endtrans %}</dt>
                        <dd class="user-content">{{ profile.location }}</dd>
                    </div>
                {% endif %}
                {% if profile.bio %}
                    <div class="double">
                        <dt>{% trans %}about me{% endtrans %}</dt>
                        <dd class="block user-content">
                            {{ profile.bio_as_html()|safe }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
            {% if profile.id == request.user.id %}
                <p class="mt"><a href="{{ url('profile.edit') }}">{% trans %}edit{% endtrans %}</a></p>
            {% endif %}
        </aside>
        <main>
            {% if not posts %}
                <p>{% trans %}no posts yet...{% endtrans %} 🥱</p>
            {% endif %}
            {% for post in posts %}
                {% include "moku/snippets/post.jinja" %}
            {% endfor %}
        </main>
    </div>
{% endblock content %}