<article>
    {% if post.image %}
        <a href="{{ post.image.url }}" target="_blank" rel="noreferrer noopener" class="image">
            <img src="{{ post.image.url }}">
        </a>
    {% endif %}
    <div class="emoji">{{ post.emoji }}</div>
    <div class="body">
        <p class="food">{{ post.text|safe }}</p>
        <p class="metadata">{{ post.created_at|naturaltime }}</p>
        <!-- <details class="recipe"><summary>recipe</summary><ol>...</ol></details> -->
    </div>
</article>