<article>
    {% if post.image %}
        <div class="image">
            <a href="{{ post.image.url }}" target="_blank" rel="noreferrer noopener" class="image">
                <img src="{{ post.image.url }}" alt="image of {{ post.food }} by @{{ post.created_by.username }}">
            </a>
        </div>
    {% endif %}
    <div class="emoji">{{ post.emoji }}</div>
    <div class="body">
        <p class="food user-content">{{ post.text|safe }}</p>
        <p class="metadata">{{ post.created_at|naturaltime }}</p>
        {% if post.recipe %}
            <details class="recipe">
                <summary>{% trans %}recipe{% endtrans %}</summary>
                <ol>
                    {% for step in post.recipe.steps.all() %}
                        <li class="user-content">{{ step.instructions }}</li>
                    {% endfor %}
                </ol>
            </details>
        {% endif %}
    </div>
</article>