{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content block">
        <p class="mb">👏 <a href="{{ url('recipe.new') }}">{% trans %}new recipe{% endtrans %}</a></p>
        <h2>{% trans %}your recipes{% endtrans %}</h2>
        <ul>
            {% if not recipes %}
                <li>{% trans %}no recipes yet...{% endtrans %} 😴</li>
            {% endif %}
            {% for recipe in recipes %}
                <li><a href="{{ recipe.get_absolute_url() }}">{{ recipe.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}