{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content blog">
        <h2>{% trans %}blog{% endtrans %} 📜</h2>
        {% if not posts %}
            <p>{% trans %}no blog posts yet...{% endtrans %} 🥱</p>
        {% endif %}
        {% for post in posts %}
            <article class="blog-post">
                <h3>{{ post.title }}</h3>
                <span class="post-metadata">{{ post.created_at|naturaltime }} · <a href="{{ post.created_by.get_absolute_url() }}">@{{ post.created_by.username }}</a></span>
                <div class="block">
                    {{ post.as_html()|safe }}
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}