{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content block">
        <h2>changelog 📜</h2>
        <h3>2024-03-25</h3>
        <ul>
            <li>moku.blog launched! 🎉</li>
        </ul>
    </div>
{% endblock content %}