{% extends "moku/base.jinja" %}

{% block content %}
<div class="grid-content">
    <aside>
        {% if request.user.is_authenticated %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% include "moku/snippets/form_errors.jinja" %}
                {% csrf_token %}
                <div class="emoji-picker">
                    {% for emoji_category in emoji %}
                        {% set outer_loop = loop %}
                        <details{% if loop.index0 == 0 %} open{% endif %}>
                            <summary>{{ emoji_category[0] }}</summary>
                            <ul>
                                {% for emoji_choice in emoji_category[1] %}
                                    {% set emoji_label = emoji_choice|unemoji %}
                                    <li>
                                        <input type="radio" value="{{ emoji_choice }}" name="emoji" id="id_emoji_{{ emoji_label }}" required{% if loop.index0 == 0 and outer_loop.index0 == 0 %} checked{% endif %}>
                                        <label for="id_emoji_{{ emoji_label }}">{{ emoji_choice }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </details>
                    {% endfor %}
                </div>
                <div class="field">
                    <label for="id_food">{{ form.food.label }}</label>
                    <input type="text" name="food" id="id_food" required aria-describedby="help_food">
                    <span class="help" id="help_food">{{ form.food.help_text }}</span>
                </div>
                <div class="field">
                    <label for="id_verb">{{ form.verb.label }}</label>
                    <select name="verb" id="id_verb">
                        {% for verb, verb_label in verbs %}
                            <option value="{{ verb }}">{{ verb_label }}</option>
                        {% endfor %}
                    </select>
                    <span class="help" id="help_verb">{{ form.verb.help_text }}</span>
                </div>
                <div class="field">
                    <label for="id_recipe">{{ form.recipe.label }}</label>
                    {{ form.recipe }}
                    <span class="help">{{ form.recipe.help_text }}</span>
                </div>
                <div class="field">
                    <label for="id_image">{{ form.image.label }}</label>
                    {{ form.image }}
                    <span class="help" id="help_image">{{ form.image.help_text }}</span>
                </div>
                <div class="field">
                    <button type="submit">{% trans %}post!{% endtrans %}</button>
                </div>
            </form>
        {% else %}
            <p>{% trans %}want to post?{% endtrans %}</p>
            <p>
                {% with login_url=url('login'), signup_url=url('signup') %}
                    {% trans %}<a href="{{ login_url }}">log in</a> or <a href="{{ signup_url }}">make an account</a>!{% endtrans %}
                {% endwith %}
            </p>
        {% endif %}
    </aside>
    <main>
        {% if not posts %}
            <p>{% trans %}no posts yet... 🥱{% endtrans %}</p>
        {% endif %}
        {% for post in posts %}
            {% include "moku/snippets/post.jinja" %}
        {% endfor %}
    </main>
</div>
{% endblock content %}