{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content block">
        <h2>privacy 🕵️</h2>
        <p>privacy is a big concern to us, so we wanted to keep this page as simple as possible.</p>
        <p>by using moku.blog in any form, you <strong>hereby consent</strong> to this policy.</p>
        <h3>what data do we hold?</h3>
        <p>when you sign up, you provide a username, email address and password. this is the only required data. further optional data can be voluntarily given, such as an 'about me', location and pronouns. additionally, you can provide settings such as your preferred language.</p>
        <p>we also store the data given when you decide to make a post, including emoji, food, verb and image. these are stored in our database, linked to your user profile.</p>
        <h3>data privacy</h3>
        <p>the data you share with us is stored only for the purpose of using the website. we do not ask for anything that does not provide value in the website itself, and we do <strong>not</strong> pass any user data to any third parties.</p>
        <p>the only exception is that we may generate anonymized usage statistics. this means, we might count how many users are visiting our pages without recording which user visited where. this data is completely anonymous and, once again, is not shared to third parties.</p>
        <h3>your rights</h3>
        <p>you should feel in control of your data. everyone who uses the site is entitled to the following:</p>
        <ul>
            <li><strong>access</strong> - you have the right to request a copy of all your personal data.</li>
            <li><strong>rectification</strong> - you have the right to request that we correct any personal information you believe to be incorrect. you also have the right to request that we complete any personal information you believe to be incomplete.</li>
            <li><strong>erasure</strong> - you have the right to request that we erase your personal data completely, under certain conditions.</li>
            <li><strong>restrict processing</strong> - you have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
            <li><strong>object processing</strong> - you have to right to object to our processing of your personal data, under certain conditions.</li>
            <li><strong>data portability</strong> - you have the right to request that we transfer the data we have collected to another organisation, or directly to you, under certain conditions.</li>
        </ul>
        <p>to exercise any of these rights, please get in touch by email at <strong>m5ka@posteo.de</strong></p>
        <h3>children's information</h3>
        <p>protection of children online is a massive priority for us and we encourage parents to be aware of and guide their children's online activity.</p>
        <p>moku.blog does not knowingly collect any personal identifiable information from children under the age of 13. if you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best to prompty remove such information from our records.</p>
    </div>
{% endblock content %}