{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content block">
        <h2>terms of use ✅</h2>
        <p>in order to use moku.blog, you need to agree to the following rules. if you don't follow these, your account may be removed.</p>
        <h3>the rules</h3>
        <ul>
            <li>you must be at least <strong>13 years old</strong> to use this website.</li>
            <li>racism, homophobia, biphobia, transphobia, ableism, misogyny and other <strong>oppressive attitudes are explicitly forbidden</strong> in this community. moku.blog is queer-led and we will always foster an inclusive community as our number one priority, no exceptions.</li>
            <li>using moku.blog in a way that is <strong>against the law</strong>, such as promoting malware, phishing or infringing copyright, is not allowed.</li>
            <li>content posted to moku.blog must be <strong>suitable for all ages</strong>. pornographic content, blood and gore are strictly forbidden and will result in immediate action taken against you.</li>
            <li><strong>spamming and advertising</strong> is not allowed. it's also very annoying.</li>
            <li><strong>harassing and bullying</strong> other users will not be tolerated in this community.</li>
            <li><strong>revealing personal information</strong> about yourself or others ("doxxing") is strictly forbidden and will result in immediate consequences.</li>
        </ul>
        <p>thanks for reading to the bottom of these! they help us to keep our community feeling safe. 🥰</p>
    </div>
{% endblock content %}