{% extends "moku/base.jinja" %}

{% block content %}
    <div class="content block">
        <h2>❌ {% trans %}it doesn't look like you should be there!{% endtrans %}</h2>
        <p>{% trans %}take a look at the links at the top of the page to see if you can end up somewhere you're supposed to be. :){% endtrans %}</p>
    </div>
{% endblock content %}